p{
    font-size: larger;
    margin-left: ;
}
p2{
    font-size: larger;
    
}p3{
    font-size: larger;
}p4{
    font-size: larger;
}p5{
    font-size: larger;
}p6{
    font-size: larger;
}p1{
    font-size: larger;
}body{
    background-color: burlywood;
}